<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form>
            <div>
                <label for="name">Name:</label>
                <input id="name" type="text" name="name">
            </div>
            <div>
                <label for="username">Username:</label>
                <input id="username" type="text" name="username">
            </div>
            <div>
                <label for="email">Email:</label>
                <input id="email" type="email" name="email">
            </div>
            <div>
                <label for="password-1">Password:</label>
                <input id="password-1" type="password" name="password-1">
            </div>
            <div>
                <label for="password-2">Password:</label>
                <input id="password-2" type="password" name="password-2">
            </div>
            <div>
                <label for="address">Address:</label>
                <textarea id="address"></textarea>
            </div>
            <div>
                <label for="phone">Phone:</label>
                <input id="phone" type="tel" name="phone">
            </div>
        </form>
    </body>
</html>