#box-wrapper {
    display: flex; 
    justify-content: center;
}

#box-container {
    display: flex; 
    flex-direction: column;
}

.box-center {
    text-align: center;
}

.input-field {
    text-align: right; 
    width: 150px; 
    margin-right: 10px;
}

.input-value {
    width: 150px; 
    margin-left: 10px;
}

.input-group {
    display: flex;
    margin-bottom: 6px;
}

#failure-notif {
    color: #ff0000;
    display: none;
}

#box-link {
    margin-top: 5px; 
    margin-bottom: 10px;
    text-decoration: underline;
}

#box-link a:visited {
    color: #000000;
}