body {
    margin: 0px;
}

#bar {
    display: inline-block;
    width: 100%;
}

#top-bar {
    width: 100%; 
    height: 50px; 
    background: #00aeef; 
    color: #ffffff; 
    float: left;
}

#menu-hi {
    text-decoration: underline; 
    padding: 0px 20px;
    font-size: 1.05em;
}

#menu-bar {
    display: inline-block; 
    width: 100%; 
    height: 50px;
    background: #0094cc; 
    color: #ffffff; 
    margin-top: 0px; 
}

#menu-bar > div {
    float: left; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    font-size: 1.5em; 
    text-align: center; 
    width: 33.33%;
    box-sizing: border-box;
}

#menu-bar > div[data-menu-selected] {
    background: #f26600; 
}

#menu-bar > div:hover {
    background: #f26600;
    cursor: pointer;
}

#menu-bar > div > div {
    width:100%; 
    text-align: center;
}

#menu-bar p {
    color: #ffffff;
}

#menu-bar p::first-letter {
    font-weight: bold;
}

#main-title {
    float: left; 
    font-size: 1.5em; 
    font-weight: bold; 
    padding: 0px 10px;
}

.top-bar-item {
    height: 100%; 
    display: flex; 
    align-items: center; 
}

.top-bar-info {
    float: right; 
}

#main h1 {
    color: #f26600;
    font-size: 4em;
    margin: 33px 0px;
}

#main h2 {
    color: #f26600;
    font-size: 2.4em;
    margin: 25px;
    margin-bottom: 10px;
}

#main h3 {
    color: #f26600;
    font-size: 4em;
    margin: 33px;
    margin-bottom: 0;
}

#box-search {
    width: 40%;
    margin: 0px auto;
    position: relative;
}

#input-search {
    width: 100%;
    border: 1.5px solid #898989;
    border-radius: 4px; 
    padding: 8px;
    font-size: 1.125em;
    box-sizing: border-box;
}

#input-search:focus {
    outline: none;
    border: 1.5px solid #f26600;
    border-radius: 4px; 
}

#input-search::placeholder {
    color: #b8b8b8;
}

#btn-search {
    margin-top: 20px;
    float: right;
}

.btn-primary {
    color: #ffffff;
    background: #00aeef;
    border: none;
    padding: 7px 30px;
    font-size: 1.15em;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background: #f26600;
}

.btn-primary:focus {
    outline: none;
}

div.profile {
    display: inline-block;
    width: 100%;
    background: #00374c;
    height: 100px;
    margin: 0px;
}

div.profile > img {
    height: 80%;
    cursor: pointer;
    display: flex;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}

#profile {
    display: inline-block;
    width: 100%;
    background: #00374c;
    height: 10%;
}

#edit-profile {
    height: 100%;
    cursor: pointer;
}

div.profile-pic {
    background-color: #00374c;
}

div.profile-pic > img {
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 10%;
    border-radius: 50%;
    border-style: solid;
    border-width: thick;
    border-color: yellow;
}

#profile-picturee{
    width:"100";
    height:"100"; 
}

#profile-picture > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 10%;
    border-radius: 50%;
    border-style: solid;
    border-width: thick;
    border-color: yellow;
}

#edit-profile {
    display: flex;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}

span.name {
    display: inline-block;
    width: 100%;
    height: 20px;
    padding-bottom: 50px;
    font-size: 2.5em;
    color: #ffffff;
    text-align: center;
    background-color: #00374c;
    vertical-align: 100px;       
}

table.profile {
    margin-left: 50px;
    width: 70%;
    height: 20px;
    padding: 5px;
    font-size: 1.2em;   
}

table.profile td.icon {
    width: 5%;
    height: 20px;
}

table.profile td.icon > img {
    height: 100%;
}

table.profile td.title {
    width: 20%;
    height: 20px;
    padding: 5px;
}

#cover {
    width: 150px;
    height: 150px;
    border-style: solid;
}

figure {
    float: right;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 150px;
}

figure > img {
    object-fit: contain;
}

figure.caption {
    display: block;
}

figcaption.caption {
    font-weight: bold;
}

div.order {
    margin-left: 33px;
    margin-top: 33px;
}

div.review {
    margin-left: 33px;
    margin-top: 33px;
}

span.subheading {
    display: block;
    color: #00374c;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0px;
}

span.author {
    font-size: 1.2em; 
    font-weight: bold; 
    margin: 33px; 
    margin-top: 0; 
}

.flex-container{
    display: flex;
}

#back-button{
    color:red;
    border-width:1px;
    background-color: white;
    border-radius: 4px;
    border-style:solid;
    border-color: red;
}

.blue-button{
    color:white;
    background-color:#00BFFF;
    border-radius:4px;
    border-width: 0px;
}

button{
    padding: 10px 20px;
}


.input-fields {
    text-align: left; 
    margin-right: 30px;
}

.input-value {
    width: 50%; 
    display: flex;
}

.input-value-table {
    width:100%;
    margin-left: 10px;
}

.input-fields-table {
    text-align: left;
    margin-right: 30px;
}

.input-group {
    display: flex;
    margin-bottom: 14px;
    font-size: 1.25em;
}

.right-button{
    float:right;
    font-weight: bold; 
    margin-left: 220px; 
    margin-top: 0;
}

span.detail {
    display: block;
    width: 70%;
    font-size: 1.3em;
    margin: 22px;
    margin-left: 33px
}

span.jumlah {
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 10px;
}

#btn-order {
    display: block;
    float: right;
    margin: 40px;
    border-style: solid;
}

table.reviews {
    table-layout:fixed;
    width: 100%;
    margin-bottom: 3%;
}

td.profile_picture {
    width: 85px;
    height: 85px;
}

td.profile_picture > img {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-style: solid;
}

td.comments {
    display: inline-block;
    width: 65%;
    margin-top: 0;
}

td.comments > span.username {
    font-size: 1.5em;
    font-weight: bold;
    color: #4d4d4d;
    margin-left: 2%;
    margin-top: 0;
    margin-bottom: 0;
}

td.comments > span.comment {
    display: block;
    margin-left: 2%;
    margin-top: 0;
}

td.ratings {
    width: 7%;
}

td.ratings > p {
    font-weight: bold;
}

#profile-picture{
    width:100px;
    height:100px;
    border:1px;
}

#update-profile-picture{
    margin-left: 10px;
}


.inputfile{
    display: inline-block;
}

#inputfileprofpic{
    display: none;
}

.title {
    color: #f26600;
    font-size: 1.5em;
    margin: 19px;
    margin-bottom: 5px;
}

span.searchresult {
    display: inline-block;
    margin: 33px;
    font-size: 4em;
    font-weight: bold;
    color: #f26600;
}

span.numberofresult {
    display: inline-block;
    font-size: 1.5em;
    color: #4c4c4c;
}

span.numberofresult > p {
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
}

table.results {
    table-layout:fixed;
    width: 100%;
    margin-bottom: 3%;
    margin-left: 33px;
}

td.cover {
    width: 150px;
    height: 150px;
}

td.cover > img {
    object-fit: contain;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-style: solid;
}

table.results td.about {
    display: inline-block;
    width: 94%;
    margin-top: 0;
}

td.about > p.title {
    display: inline-block;
    margin: 0px 30px;
    font-size: 2em;
    font-weight: bold;
    color: #f26600;
}

td.about > p.author {
    margin: 0px 30px;
    font-weight: bold;
    color: #4c4c4c;
}

td.about > p.detail {
    margin: 0px 30px;
    color: #4c4c4c;
}

#btn-detail {
    float: right;
    margin-right: 40px;
}

#nonedisplay{
    
    display:inline-block;
    display: none;
}

.inlinedisplay{
    display:inline;
}

#booktitle {
    color: #f26600;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 8px;
}

#historybook{
    width:100;
    height:100;
}

#user-address{
    height:200;
}

.bookimage {
    border: 1px solid;
    height: 100px;
    width: 100px;
    text-align: center;
}

.historybook{
    max-height: 100px;
    width:auto;
}

.ml{
    margin-left:40px;
}

.ml-20{
    margin-left:20px;
}

.ml-10{
    margin-left:10px;
}

.mb-10{
    margin-bottom: 10px;
}

.mt-20{
    margin-top:20px;
}

.right-pos{
    float:right;
}

.orderinfo{
    font-weight:bold;
}

#author{
    margin-left: 25px;
    font-weight: bold;
}

.bookreview{
    max-height: 100px;
    width:auto;
}

.inputreview{
    width:330px;
    margin-top:10px;
    margin-bottom: 10px;
}

.mlreview{
    margin-left:200px;
}